
  <div class="twig-left">
        <img src= "team.jpg" alt="はいけい" class="backgroung-image">
        </div>

        <div class="twig-right">
        <%= twigtweet.twigtext %>
        <%= twigtweet.user.nickname %>
          <div>
            <% if user_signed_in? && current_user.id == twigtweet.user_id %>
              <ul class="more_list">
                <li>
                <%= link_to "詳細", "/twigs/#{twigtweet.id}/", method: :get %>
                </li>
                <li>
                <%= link_to "編集", "/twigs/#{twigtweet.id}/edit", method: :get %>
                </li>
                <li>
                <%= link_to "削除", "/twigs/#{twigtweet.id}", method: :delete %>
                </li>
              </ul>
          </div>
          <% end %>
        </div>

    </div>
  </div>

  <div class="right-content">
  </div>

