<head>
  <meta charset="UTF-8" />
    <link rel="stylesheet" href="style.css">
    <title>i HUB</title>
</head>


  <body>
<header class="header">
  <div class="navbar">
  <%= render partial:"header" %>
  </div>
</header>

<div class="contents" >
  <div class="left-content">
  <%= render partial:"profile" %>
  </div>


  <div class="center-content">
    <div class="twigbox">
      <%= form_for(@twigtweet) do |f| %>
      <%= f.text_field :twigtext, placeholder: "What's new idea?" %>
      <%= f.submit "twig" %>
    <% end %>
    </div>


        <% @twigtweets.each do |twigtweet| %>
          <%= render partial:"twig", locals: { twigtweet: twigtweet} %>
        <% end %>

  <div class="right-content">
  </div>

</body>

