<header>

  <div class="navbar">
  <%= render partial:"header" %>
  </div>
</header>

<div class ="contents row">
            <% if user_signed_in? && current_user.id == @twig.user_id %>
     <div class="more">
      <ul class="more_list">
        <li>
          <%= link_to '編集', "/twigs/#{@twig.id}/edit", method: :get %>
        </li>
        <li>
          <%= link_to '削除', "/twigs/#{@twig.id}", method: :delete %>
        </li>
      </ul>
    </div>
    <% end %>
    <p>
      <%= @twig.twigtext %>
    </p>
    <span class="name">
<!--       <a href="/users/<%= @twig.user.id %>"> -->
<span></span><%= @twig.user.nickname %>
      </a>
    </span>
  </div>

  <div class="container">
  <% if current_user %>
    <%= form_tag("/twigs/#{@twig.id}/comments", method: :post) do %>
    <textarea cols="30" name="text" placeholder="コメントする" rows="2"></textarea>
    <input type="submit" value="SENT">
      <% end %>
    <% end %>
  </div>

   <div class="comments">
      <h4>＜コメント一覧＞</h4>
      <% if @comments %>
        <% @comments.each do |comment| %>
          <p>
            <storng><%= link_to comment.user.nickname, "/users/#{comment.user_id}" %>：</strong>
            <%= comment.text %>
          </p>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

