<head>
  <meta charset="UTF-8" />
    <link rel="stylesheet" href="style.css">
</head>


  <body>
<header>
  <div class="navbar">
  <%= render partial:"twigs/header" %>
  </div>
</header>

<div class="contents row">
    <h3>
      投稿する
    </h3>
      <%= form_for(@ongoing) do |f| %>
      <%= f.text_field :projectname, placeholder: "What's name of project?" %>
      <%= f.text_field :projectslide, placeholder: "Your presentation?" %>
      <%= f.text_field :insight, placeholder: "Insight" %>
      <%= f.text_field :summary, placeholder: "Summary" %>
      <%= f.file_field :image %>
      <%= f.submit "send" %>

    <% end %>
</div>