<header>
<header class="headerall">
  <div class="navbar">
    <ul>
      <li><img src= "/assets/seedicongreen.png" alt="タイムラインアイコン" class="backgroung-image"><a href="/twigs">Timeline</a></li>
      <% if user_signed_in? %>
      <li><img src= "/assets/twigicongreen.png" alt="Twigアイコン" class="backgroung-image"><a href="/users/<%= current_user.id %>">Twig(未実装）</a></li>

      <li><img src= "/assets/flowericongreen.png" alt="Ongoingアイコン" class="backgroung-image"><a href="/ongoings">Ongoing</a></li>
      <% end %>
    </ul>


      <!-- <li class="usertab"> -->
      <% if user_signed_in? %>
        <div class="user_nav_grid-6">
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
        <a href="/users/<%= current_user.id %>">マイページ</a>
      </div>
      <% else %>
        <div class="grid-6">
            <%= link_to "ログイン", new_user_session_path, class: 'post' %>
            <%= link_to "新規登録", new_user_registration_path, class: 'post' %>
          </div>
      <% end %>
      </div>
    </div>
    </ul>
  </div>
</header>
</header>

<div class ="contents row">
    <% if user_signed_in? && current_user.id == @ongoing.user_id %>
     <div class="more">
      <ul class="more_list">
        <li>
          <%= link_to '編集', "/ongoings/#{@ongoing.id}/edit", method: :get %>
        </li>
        <li>
          <%= link_to '削除', "/ongoings/#{@ongoing.id}", method: :delete %>
        </li>
      </ul>
    </div>
    <% end %>

    <div class="projectname">
      <%= @ongoing.projectname %>
    </div>

    <div class="projectslide">
    <iframe src="https://docs.google.com/presentation/d/1bJZUd271MsY-UWBwO8Wb_ewpaGncqrJCwpObWyvz_Fk/embed?start=false&loop=false&delayms=3000" frameborder="0" width="960" height="749" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
    <iframe src="<% @ongoing.projectslide %>"></iframe>
    </div>

    <div class="insight">
      <%= @ongoing.insight %>
    </div>


    <span class="name">
<span></span><%= @ongoing.user.nickname %>
      </a>
    </span>
  </div>






  <div class="container">
  <% if current_user %>
    <%= form_tag("/ongoings/#{@ongoing.id}/ongoingcomments", method: :post) do %>
    <textarea cols="30" name="ongoingcomment" placeholder="コメントする" rows="2"></textarea>
    <input type="submit" value="SENT">
      <% end %>
    <% end %>
  </div>

   <div class="comments">
      <h4>＜コメント一覧＞</h4>
      <% if @ongoingcomments %>
        <% @ongoingcomments.each do |ongoingcomment| %>
          <p>
            <storng><%= link_to ongoingcomment.user.nickname, "/users/#{ongoingcomment.user_id}" %>：</strong>
            <%= ongoingcomment.ongoingcomment %>
          </p>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

