
 <div class="contents row" >
    <% if user_signed_in? && current_user.id == @twig.user_id %>
      <ul class="more_list">
        <% if user_signed_in? && current_user.id == twigtweet.user_id %>
           <ul class="more_list">
                <li>
                <%= link_to "編集", "/twigs/#{twigtweet.id}/edit", method: :get %>
                </li>
                <li>
                <%= link_to "削除", "/twigs/#{twigtweet.id}", method: :delete %>
                </li>
              </ul>
        <p>
          <%= twig.twigtext %>
        </p>
      </div>
    </p>
    <span class="name">
      <a href="/users/<%= @twig.user.id %>">
        <span>投稿者</span><%= @twig.user.nickname %>
      </a>
    </span>
  </div>
</div>